@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800;900&display=swap");

:root {
	--yellow-color: #fab325;
	--red-color: #e75e26;
	--green-color: #89c23f;
	--green-dark-color: #4c8804;
	--turquoise-color: #6dcbb4;
	--turquoise-dark-color: #089aa0;
	--blue-color: #47c2e4;
	--grey-color: #52576a;
}

body {
	font-family: Poppins;
	font-weight: 300;
	color: #52576a;
}

.navbar {
	height: 120px;
	padding: 25px;
	padding-top: 5px;
	background: transparent;
	box-shadow: 0 0 0 0;
	background-color: transparent;
	transition: background-color 0.4s ease;
}

.navbar-white {
	background-color: #fff;
	height: 100px;
}

.navbar img {
	width: 250px;
	margin-left: 30px;
}
.m-auto {
	margin: 0 auto;
}
.btn-gradient {
	color: white;
	background: var(--green-color);
	padding: 12px 96px;
	min-width: 95px;
	border-radius: 4px;
	font-weight: 600;
	cursor: pointer;
	font-size: 1.1rem;
}

.btn-gradient:hover {
	background: var(--green-dark-color);
	color: white;
}

#carouselExampleIndicators {
	box-shadow: 0px 3px 19px -9px rgba(0, 0, 0, 0.75);
}

.carousel-inner > .carousel-item > img {
	height: 600px !important;
}

.footer {
	justify-content: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 20vh;
	text-align: center;
	position: relative;
	z-index: 0;
}

.footer p {
	margin-bottom: 0;
}
.footer a {
	color: var(--grey-color) !important;
}

.footer a:hover {
	text-decoration: none;
}

.logo-small {
	height: 40px;
}

.small {
	margin-top: 0;
	font-size: 0.6rem;
	margin-bottom: 1rem !important;
}

.box {
	position: relative;
	padding: 40px;
	margin: 40px;
	margin-top: -20px;
	width: 33%;
	height: 50vh;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0px 3px 19px -9px rgba(0, 0, 0, 0.75);
}

.box p {
	font-size: 1.2rem;
	color: var(--turquoise-color);
}

.box .blue-text {
	color: var(--turquoise-dark-color);
}

.box i {
	color: var(--yellow-color);
	position: absolute;
	top: -25px;
	left: 115px;
}

.b-color {
	background-color: var(--turquoise-dark-color);
	width: 100%;
	padding-bottom: 80px;
}

.home-banner {
	height: 80vh;
	text-align: center;
	padding-top: 15vh;
	margin-bottom: 10vh;
}

.home-banner h1 {
	color: var(--grey-color);
	font-size: 3.5rem;
	margin-bottom: 20px;
	font-weight: 600;
	letter-spacing: 3px;
}

.home-banner h3 {
	color: var(--grey-color);
	margin-bottom: 50px;
}

.text-banner {
	margin-top: 15vh;
}

.banner-tech {
	padding-top: 15vh;
	padding-bottom: 10vh;
	height: 55vh;
	background-color: #465b64;
}

.banner-tech h2 {
	color: #fff;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 1px;
}

.banner-tech h4 {
	color: var(--green-color);
	margin-bottom: 40px;
	font-weight: 400;
}

.description {
	height: 60vh;
}

.description h2 {
	color: var(--grey-color);
	font-size: 2.5rem;
	font-weight: 400;
}

.h-80 {
	height: 80vh;
}

.pt-10 {
	padding-top: 10vh;
}

.background-shape {
	background-image: url("images/y-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.3;
	width: 100%;
	height: 550px;
	-ms-transform: skewY(-15deg);
	-webkit-transform: skewY(-15deg);
	transform: skewY(-15deg);
	position: absolute;
	top: 70px;
	z-index: -1;
}

/*small screen*/
@media only screen and (max-width: 768px) {
	.text-banner {
		margin-top: 9vh;
	}
	.navbar {
		padding: 10px;
	}

	.home-banner h1 {
		font-size: 2.5rem;
		margin-right: 7px;
		margin-left: 7px;
		margin-bottom: 35px;
	}

	.home-banner h3 {
		font-size: 1.5rem;
		margin-top: 15px;
		margin-bottom: 40px;
	}

	.btn-gradient {
		min-width: 90%;
	}

	.home-banner {
		height: 100%;
	}

	.carousel-inner > .carousel-item > img {
		height: 450px !important;
	}

	.pt-10 {
		padding-top: 5vh;
	}

	.box {
		height: 100%;
	}

	.home-banner {
		height: 100%;
	}
	.banner-tech {
		padding-top: 8vh;
		padding-bottom: 8vh;
		height: 100%;
	}
	.description {
		height: 100%;
	}

	.svg {
		width: 90%;
	}

	.description h2 {
		line-height: 1.4;
		font-size: 2rem;
	}

	.banner-tech h2 {
		font-size: 2.5rem;
		font-weight: 400;
		margin-bottom: 4vh;
	}

	.footer {
		height: 15vh;
	}
	.small {
		font-size: 0.8rem;
		margin-top: 1vh;
	}
	.m-flex {
		align-items: center;
		justify-content: center;
		display: flex;
	}

	.m-p0 {
		margin-top: 3vh;
		margin-bottom: 3vh;
	}

	.m-d-block {
		display: block !important;
	}

	.box {
		width: auto;
		margin-top: 4vh;
	}

	.b-color {
		padding-bottom: 40px;
		padding-top: 2rem;
		margin-top: -1rem;
	}

	.background-shape {
		top: 110px;
		height: 510px;
	}

	.box i {
		left: 128px;
	}
}
