@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800;900&display=swap");

:root {
	--yellow-color: #fab325;
	--red-color: #e75e26;
	--green-color: #89c23f;
	--green-dark-color: #4c8804;
	--turquoise-color: #6dcbb4;
	--turquoise-dark-color: #089aa0;
	--blue-color: #47c2e4;
	--grey-color: #52576a;
}

body {
	background: #f2f3f8;
	display: flex;
	flex-direction: column;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	text-align: left;
}

.header {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 13px -2px 17px -12px rgba(41, 50, 66, 0.1);
}

.logo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	padding: 0 25px;
	height: 65px;
}

.logo img {
	max-width: 120px;
	vertical-align: middle;
	border-style: none;
	outline: 0 !important;
	padding-top: 10px;
}

.list {
	height: 90vh;
	position: relative;
	margin: 15px 0;
	list-style: none;
	max-width: 100%;
	flex: 1 0 auto;
}

.list-items {
	position: relative;
	height: 44px;
	padding: 15px 0;
	margin: 0;
	font-weight: 300;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	float: none;
	list-style: none;
	cursor: pointer;
}

.list-items a {
	display: flex;
	flex-grow: 1;
	align-items: center;
	color: #7f7f8a;
	font-size: 13px !important;
	padding: 9px 85px 9px 22px;
	height: 44px;
	margin: 0;
	transition: background-color 0.3s ease;
}
.list-items a:hover {
	color: white;
	background-color: var(--green-color);
	text-decoration: none;
}

.icon {
	padding-right: 12px;
}

.nav-content {
	background-color: #fff;
	box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
	padding-top: 0;
	padding-bottom: 0;
	height: 45px;
}

.nav-text {
	position: fixed;
	top: 0;
	right: 0;
	left: 280px;
	z-index: 97;
	background-color: #fff;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	padding: 0;
}

.nav-text h1 {
	font-size: 1rem;
	color: #52576a;
	margin: 0;
	padding: 1rem 1rem 0 0;
	font-weight: 500;
}

.wrapper {
	height: 100%;
	padding-left: 273px;
	padding-right: 14px;

	max-width: 100%;
	padding-top: 14px;
	box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
}

#smart-button-container {
	padding: 15px;
	height: 100%;
	background-color: #fff;
	box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
}

/* svg on hover*/
.color-change {
	transition: fill 0.4s ease;
	fill: #ffffff;
}

/*small screen*/
@media (max-width: 1024px) {
	.mobile--fixed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 97;
		height: 8vh;
	}
	.mobile--flex-end {
		display: none;
		align-items: center;
		justify-content: flex-end;
	}

	.list-items {
		position: fixed;
		top: 0;
	}
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 13vh;
	}

	.list-items a {
		padding: 6px 24px 9px 22px;
	}

	.nav-text {
		position: inherit;
		z-index: 95;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding-top: 9vh;
		padding-bottom: 20px;
		width: 100%;
		box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
	}
	.logo {
		box-shadow: 0 10px 30px 0 rgb(82 63 105 / 8%);
	}
}
